#bgcolor{
    background-color: rgb(46, 38, 60)
}
        #intro{
            color: rgb(242, 244, 246);
            font-size:20;
            
            
        }
        #mainheads{
            padding:120px;
        }
        #hr{
            color: rgb(19, 16, 29);
        }
        #buttons{
            background-color: rgb(39, 32, 52);
            text-align: center;
           
        }
        #about{
            color:aqua
        }
  
        #developerstexts{
            color: coral;
            font-size:30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }
        #detailss{
            color: rgb(159,236, 179);
            font-size: 30px;
            text-decoration:none;
            word-spacing: 20px;
            

        }
        a{
            text-decoration:none;
            text-shadow:6px;
            color: rgb(159, 236, 179);
            word-spacing:px;
        }
        #images{
          display: flex;
          margin-right:100px;
          margin-bottom:100px;
         
        }
#contacts{
  display:flex;
  flex-direction:column-gap;
  max-width:10px;
  height:10px;
  padding: 100px;;
  margin-left:200px;
}
#socialimages{
  display:flex;
  flex-direction:column-gap;
  max-width:100px;
  height:100px;
  padding:35px;
  color: rgb(123, 167, 139);
  border:6px solid;
  border-color: rgb(152, 39, 67);
  border-radius:60px;
  margin:20px;
 
    
  
}
#socialimages:hover{
    transform:scale(1.1);
    width:px;
    transition:  transform (0.1);
    
}
/*#pageheadingss{
    text-align:center;
    background-color: rgb(246, 186, 123);
    color:rgb(8, 36, 247);
    background-size:96px;
    border:6px solid;
  border-color: rgb(80, 80, 233);
  border-radius:60px;
  margin:20px;
}*/
#homepagess{
color: rgb(159,236, 179);
            font-size: 30px;
            text-decoration:none;
            word-spacing: 20px;
        color: rgb(159,236, 179);
        border:1px solid;
        border-color: rgb(75, 64, 67);
        border-radius:6px;
        margin:12px;
        padding:3px;
        }

    #bottomdata{
       background-color: rgb(69, 53, 85);
       font-size:19px;
       text-align: center;
       position:relative;
       margin-top:300px;
       color: rgb(13, 232, 232);
    }
    #indexskills{
        width:30px;
    }
    .navbar{
        background-color: rgb(46, 38, 60);
        color:rgb(247, 27, 27);
        float:right;
        width:px;
        height:px;
        word-spacing:12px;
        font-size: larger;
        padding:20px;
    }

    #homefooters{
        background-color: rgb(57, 45, 70);
       font-size:19px;
       text-align: center;
       position:relative;
       margin-top:px;
       color: rgb(13, 232, 232);
    }
    #projectscontainers{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding:12px;
       ;
       
        
    }
    #projectsimagess{
        width:300px;
        height:300px;
        border: solid #bafbf4;
        border-radius:19px;
        
       
    }
    
#projectsnamess{
    color: rgb(80, 191, 191);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border:none;
    background-color:rgb(49, 44, 58);

}
#projectsdivs{
  margin:60px;
  border:  rgb(237, 234, 241);
  border-radius:12px;
 border-bottom:96px;
}
/
@media (max-width: 768px) {
   
    #mainheads {
        padding: 40px; 
    }
}


@media (min-width: 769px) {
  
    .navbar {
        font-size: larger;
    }
}


